.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: whitesmoke;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}

.banner-link {
  display: 'block';
  overflow: 'hidden';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.banner-title {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 90;
}

.banner-title img {
  max-width: 60vw;
  height: auto;
  transform: translate(-50%, -50%);
}

.banner-subtitle {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 90;
}

.banner-subtitle img {
  max-width: 90vw;
  height: auto;
  transform: translate(-50%, -50%);
}

.banner-img0,
.banner-img1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-img0 {
  z-index: 3;
}

.banner-img1 {
  z-index: 1;
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
@media (prefers-reduced-motion: no-preference) {
  .banner-img0 {
    animation:
      var(--banner-animation-duration) linear infinite Carousel-fade0;
  }

  .banner-img1 {
    animation:
      var(--banner-animation-duration) linear infinite Carousel-fade1;
  }
}

@keyframes Carousel-fade1 {
  0% {
    opacity: 0%;
    transform: scale(1);
    z-index: 1;
  }

  5% {
    opacity: 100%;
    transform: scale(1);
    z-index: 1;
  }

  25% {
    z-index: 2;
  }

  45% {
    z-index: 2;
  }

  50% {
    transform: scale(1.1);
    z-index: 2;
    opacity: 100%;
  }

  55% {
    z-index: 3;
  }

  75% {
    opacity: 100%;
  }

  95% {
    opacity: 0%;
    transform: scale(1.2);
    z-index: 3;
  }

  100% {
    opacity: 0%;
    transform: scale(1);
    z-index: 1;
  }
}

@keyframes Carousel-fade0 {
  0% {
    opacity: 100%;
    transform: scale(1.1);
    z-index: 2;
  }

  5% {
    z-index: 3;
  }

  25% {
    opacity: 100%;
  }

  45% {
    opacity: 0%;
    transform: scale(1.2);
    z-index: 3;
  }

  50% {
    opacity: 0%;
    transform: scale(1);
    z-index: 1;
  }

  55% {
    opacity: 100%;
    transform: scale(1);
    z-index: 1;
  }

  75% {
    z-index: 2;
  }

  95% {
    z-index: 2;
  }

  100% {
    opacity: 100%;
    transform: scale(1.1);
    z-index: 2;
  }
}