.Banner {
    position:relative;
    margin-top: 7.5vh;
    width: 100%;
    height: 87.5vh;
    min-height: 87.5vh;
    display: block;
    background-color: whitesmoke;
    overflow: hidden;
    cursor: pointer;
}

.Banner-title {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 90;
}

.Banner-title img {
  max-width: 125%;
  height: auto;
  transform: translate(-50%, -50%);
}

.Banner-subtitle {
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 90;
}

.Banner-subtitle img {
    max-width: 150%;
    height: auto;
    transform: translate(-50%, -50%);
}

.Banner-img0 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: auto;
}

.Banner-img1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
@media (prefers-reduced-motion: no-preference) {
  .Banner-img0 {
    animation:
      var(--banner-animation-duration) linear infinite Carousel-fade0;
  }
  .Banner-img1 {
    animation:
      var(--banner-animation-duration) linear infinite Carousel-fade1;
  } 
}

@keyframes Carousel-fade1 {
  0%{
    opacity: 0%;
    transform: scale(1);
    z-index: 1;
  }
  5%{
    opacity: 100%;
    transform: scale(1);
    z-index: 1;
  }
  25%{
    z-index: 2;
  }
  45%{
    z-index: 2;
  }
  50%{
    transform: scale(1.1);
    z-index: 2;
    opacity: 100%;
  }
  55%{
    z-index: 3;
  }
  75%{
    opacity: 100%;
  }
  95%{
    opacity: 0%;
    transform: scale(1.2);
    z-index: 3;
  }
  100%{
    opacity: 0%;
    transform: scale(1);
    z-index: 1;
  }
}

@keyframes Carousel-fade0 {
  0%{
    opacity: 100%;
    transform: scale(1.1);
    z-index: 2;
  }
  5%{
    z-index: 3;
  }
  25%{
    opacity: 100%;
  }
  45%{
    opacity: 0%;
    transform: scale(1.2);
    z-index: 3;
  }
  50%{
    opacity: 0%;
    transform: scale(1);
    z-index: 1;
  }
  55%{
    opacity: 100%;
    transform: scale(1);
    z-index: 1;
  }
  75%{
    z-index: 2;
  }
  95%{
    z-index: 2;
  }
  100%{
    opacity: 100%;
    transform: scale(1.1);
    z-index: 2;
  }
}